.md-header, .md-sidebar--primary, .md-sidebar--secondary, .md-sidebar__scrollwrap, footer {
  display: none;
}

html { font-size: 14px }

body {
  background-color: #0F0F0F;
  color: #D9D9D9;
  padding: 1rem !important;
}

* { 
  margin: 0 !important;
  padding: 0 !important;
}

.md-grid {
  margin: auto !important;
  max-width: 85rem;
}

.md-typeset {
  color-adjust: exact;
  line-height: 1.2;
  overflow-wrap: break-word;
  font-size: 1rem;
}

.md-typeset > * { padding: 0.4em 0 !important }

.md-typeset h1 {
  font-size: 2em;
  font-weight: 800;
  line-height: 1;
  color: #D9D9D9;
}

.md-typeset h2 {
  font-size: 1.45em;
  font-weight: 800;
  line-height: 1;
  margin: 0.5rem 0 0 0 !important;
}

.md-typeset h3 {
  font-size: 1.28em;
  font-weight: 600;
}

.md-typeset h4 {
  font-size: 1.1em;
  font-weight: 500;
}

.md-typeset :is(ul, ol) { padding-left: 15px !important }

.md-typeset :is(ul, ol) ul {
  line-height: 1.3;
  padding-left: 24px !important
}

.md-typeset :is(ul, ol) ol {
  line-height: 1.3;
  padding-left: 24px !important
}

.md-typeset :is(ul, ol) li {
  line-height: 1.3;
}

.md-content__inner::before { height: 0 }

@media screen and (min-width: 60em) {
  .md-sidebar--secondary:not([hidden]) {
    display: none;
  }
}

.md-typeset code {
  padding: .1em .2em !important;
  margin: 0;
  font-size: 87%;
  color: #D9D9D9;
  background-color: #202020;
  border-radius: 3px;
}

.md-typeset pre {
  overflow: auto;
  line-height: 1.45;
  color: #D9D9D9;
  border-radius: 3px;
}

.md-typeset ul li pre,
.md-typeset ol li pre { margin: 6px 0 !important }

.md-typeset pre code {
  border-radius: 0 !important;
  background-color: #202020;
  padding: .5rem .7rem !important;
}

br {
  display: block;
  margin: 3px 0 !important;
  content: "";
}

.md-typeset blockquote {
    padding: .3rem 1rem !important;
    margin: 0.6rem !important;
    border-left: 3px solid #5a7c9273 !important;
}

.md-typeset blockquote p {
    color: #9c9c9c;
    padding: 0.3rem 0;
}

.md-typeset figure {
  max-width: 60%;
}

.md-typeset figcaption {
  font-style: normal;
  margin: 1em auto;
  max-width: 100%;
  font-size: .9em;
  color: #a3a3a3;
  padding-top: 4px !important;
}

/* </details>  */

.md-typeset details {
  margin: 0.4em 0 !important;
  padding: 4px !important;
  background-color: hsl(0, 0%, 12.5%) !important;
}

md-typeset .admonition, .md-typeset details {
  background-color: var(--md-admonition-bg-color);
  border: none;
  border-radius: .2rem;
  color: var(--md-admonition-fg-color);
  display: flow-root;
  font-size: 100%;
  margin: 1.5625em 0;
  padding: 1rem .6rem;
  page-break-inside: avoid;
  transition: box-shadow 125ms;
  box-shadow: none !important;
}

summary { padding: 4px !important }

.md-typeset .admonition-title::before, .md-typeset summary::before { display: none !important }

.md-typeset summary::after { top: .4em }

.md-typeset .admonition-title, .md-typeset summary { background-color: #202020 }

md-typeset .admonition:focus-within, .md-typeset details:focus-within { box-shadow: none !important }

.md-typeset details:not([open]) { box-shadow: none }